header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  text-shadow: 4px 4px 2px black;
}